.post-new {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 10px;
    padding: 2px;
    float: right;
    color: #bcbcbc;
    line-height: 10px;
}

.post-content {
    position: relative;
    top: 10px;
    width: 100%;
    height: auto;
}

.search-post .float-left {
    line-height: 24px;
}

.search-post .float-right {
    height: 24px;
}

.undo {
    position: absolute;
    right: 20px;
    top: 6px;
    color: #bcbcbc;
}

.check_post {
    margin-top: 10px;
}

.check_post select {
    background-color: #f1f1f1;
    height: 24px;
    cursor: pointer;
}

.check_post .btn {
    background-color: #f1f1f1;
    height: 24px;
    line-height: 12px;
    font-size: 12px;
    padding: 3px 12px;
}

.check_post .current-page {
    background-color: #f1f1f1;
    height: 24px;
    width: 20px;
    line-height: 12px;
    font-size: 12px;
    border: none;
    text-align: center;
}

.check_post span {
    height: 24px;
    background: #f1f1f1;
    color: #a0a5aa;
    display: inline-block;
    min-width: 17px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 14px;
    text-align: center;
    font-weight: 800;
    line-height: 1.5 !important;
}

.post-draft-div, .post-trash-div {
    display: inline;
}

.table-post {
    border: 1px solid #eaeaea;
}

.table > tbody > tr > td {
    border-top: 1px solid transparent;
    height: 80px;
}

.table > tbody > tr:first-child > td, .table > tfoot > tr > td {
    border-top: 1px solid #eaeaea;
}

.table > thead > tr, .table > tfoot > tr {
    background-color: #ffffff;
    font-weight: bolder;
    color: #212121;
}

.post_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-control {
    display: none;
}

.post-td:hover > .post-control {
    display: block;
}

.page-content {
    text-align: center;
    width: 100%;
}

.page-waiting {
    display: none;
    position: absolute;
    z-index: 9999;
    left: 50%;
    top: 10px;
}

.order_by {
    color: #337ab7;
    cursor: pointer;
}

.order_by > i {
    display: none;
}

.order_by:hover > i {
    display: inline;
}

.by_title, .by_comment, .by_date {
    color: #000000;
}

.filter-by-category, .filter-by-tag {
    color: #337ab7;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    height: 100%;
}

@media screen and (max-width: 780px) {
    .post-control {
        display: block;
    }
}