.post-page-title {
    color: #6d0308;
    width: 115px;
    position: relative;
}

.post-new {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 10px;
    padding: 2px;
    float: right;
}

.post-new:hover {
    background-color: #e8e8e8;
}

.post-content {
    position: relative;
    top: 10px;
    width: 100%;
    height: auto;
}

.table-post {
    border: 1px solid #eaeaea;
}

.table > tbody > tr > td {
    border-top: 1px solid transparent;
}

.table > tbody > tr:first-child > td, .table > tfoot > tr > td {
    border-top: 1px solid #eaeaea;
}

.table > thead > tr, .table > tfoot > tr {
    background-color: #ffffff;
    font-weight: bolder;
    color: #212121;
}
