{% extends 'layout.html' %}

{% block title %}管理登录{% endblock %}

{% block content %}
<style>
    .login-form {
        width: auto;
        max-width: 500px;
        padding: 1px 23px 20px;
        margin: 50px auto;
    }

    .check_from {
        text-align: left;
        font-size: 12px;
    }

    #sidebar {
        width: 110px;
        float: right;
    }

    #content {
        margin-left: -120px;
        float: left;
        width: 100%;
    }

    #contentb {
        margin-left: 120px;
        border: 1px solid #a6a6a6;
        margin-bottom: 10px;
        text-align: center;
        padding: 5px;
    }

    .checkbox {
        margin-top: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 20px;
        line-height: 20px;
        border-top: 0;
        font-size: 12px;
    }

    ul li {
        display: block;
        width: 50%;
        float: left;
        text-indent: 2em
    }

    .glyphicon-ok {
        color: #00cf00;
    }

    .glyphicon-remove {
        color: #ec0006;
    }

    @media screen and (max-width: 510px) {
        #content {
            display: none;
        }
    }

</style>
<div class="text-center">
    <div class="login-form">
        <div class="text-center">
            <h4>后台管理</h4>
        </div>
        <div class="form-group">
            <input type="text" class="form-control login-field" value="" name="username" placeholder="用户名"
                   id="login-name"/>
            <label class="login-field-icon fui-user" for="login-name"></label>
        </div>
        <div class="form-group">
            <input type="password" class="form-control login-field" value="" name="password" placeholder="密码"
                   id="login-pass"/>
            <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>

        <div id="info"></div>

        <div class="container-fuild check_from">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div id="wrap"> 
                        <div id="content" style="height:100%;">
                            <div id="contentb">
                                <strong>浏览器功能支持项</strong>
                                <ul>
                                    <li>当前浏览器</li>
                                    <li id="browser"></li>
                                </ul>
                                <ul>
                                    <li>渲染引擎</li>
                                    <li id="engine"></li>
                                </ul>
                                <ul>
                                    <li>渲染模式</li>
                                    <li id="engine_mod"></li>
                                </ul>
                                <ul>
                                    <li>操作系统</li>
                                    <li id="os"></li>
                                </ul>
                                <ul>
                                    <li>当前设备</li>
                                    <li id="device"></li>
                                </ul>
                                <ul>
                                    <li>Application Cache</li>
                                    <li id="applicationcache"></li>
                                </ul>
                                <ul>
                                    <li>Local Storage</li>
                                    <li id="localstorage"></li>
                                </ul>
                                <ul>
                                    <li>Session Storage</li>
                                    <li id="sessionstorage"></li>
                                </ul>
                                <ul>
                                    <li>JSON</li>
                                    <li id="json"></li>
                                </ul>
                                <ul>
                                    <li>Canvas</li>
                                    <li id="canvas"></li>
                                </ul>
                                <ul>
                                    <li>CSS rgba</li>
                                    <li id="rgba"></li>
                                </ul>
                                <ul>
                                    <li>CSS Supports</li>
                                    <li id="supports"></li>
                                </ul>
                            </div>
                        </div>
                        <div id="sidebar" style="height:70px;">
                            <label class="checkbox" for="remember_username" style="font-size: 12px">
                                <input type="checkbox" checked="checked" value="" id="remember_username">
                                记住用户名
                            </label>
                            <label class="checkbox" for="remember_statues" style="font-size: 12px">
                                <input type="checkbox" checked="checked" value="" id="remember_statues">
                                记住登录状态
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-top: 10px">
            <a class="btn btn-primary btn-lg btn-block" href="#" id="log_in">登录</a>
            <a class="login-link" href="#">忘记密码?</a>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/assets/js/admin/web-detector.js"></script>
<script src="/assets/js/admin/login.js"></script>
<script src="/assets/js/admin/modernizr-custom.js"></script>
{% endblock %}

