.post-page-title {
    width: 200px;
}

.add-title > h5 {
    margin: 0;
    color: #000000;
}

.page-waiting {
    display: none;
    position: absolute;
    z-index: 9999;
    left: 50%;
    top: 10px;
}