.post-page-title {
    width: 190px;
}

.page-waiting {
    display: none;
    position: absolute;
    z-index: 9999;
    left: 50%;
    top: 10px;
}

.left-cont {
    margin-right: -300px;
    float: left;
    width: 100%;
}

.left-content {
    margin-right: 300px;
}

.right-content {
    float: right;
    width: 290px;
}

.tag-bottom > .float-left {
    width: 30%;
}

.tag-bottom > .float-right {
    width: 70%;
}

.tag-bottom > .float-right > input {
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.tag-content > p:last-child {
    margin-bottom: 0;
}

.edit_area {
    margin-top: 10px;
}

.category-tabs {
    margin: 0 0 4px;
    list-style: none;
    line-height: 1.4em;
    font-size: 13px;
}

.category-tabs > li {
    cursor: pointer;
    padding: 3px 5px 5px;
    border: 1px solid transparent;
    position: relative;
    display: inline;
    line-height: 1.35em;
    margin-bottom: 6px;
}

.category-tabs > .tabs {
    border: 1px solid #ddd;
    border-bottom-color: #fdfdfd;
    background-color: #fdfdfd;
}

.tabs-panel {
    min-height: 42px;
    max-height: 200px;
    overflow: auto;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fdfdfd;
}

.tabs-panel ul {
    list-style: none;
}

.tabs-panel > ul > li {
    margin: 0;
    padding: 0;
    line-height: 22px;
    word-wrap: break-word;
}

.tabs-panel .children {
    margin-left: 15px;
}

.add-category, .tag-adder {
    display: inline-block;
    margin: 10px 0;
    font-weight: 600;
}

.input-group label {
    display: none;
}

.input-group .form-control {
    margin-bottom: 10px;
}

.category-add {
    display: none;
}

.commit select {
    border: 0 solid #ffffff;
    background-color: transparent;
}

.tag-adder > .tags {
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ddd;
    width: 100%;
    word-spacing: 3px;
}

@media screen and (max-width: 780px) {
    .left-content {
        margin-right: 0;
    }

    .left-cont {
        margin-right: 0;
    }

    .right-content {
        width: 100%;
        margin-top: 10px;
        float: left;
    }
}