html {
    font-family: "Microsoft YaHei", 微软雅黑, sans-serif !important;
    font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;
    font-weight: 300;
}

body {
    font-family: "Microsoft YaHei", 微软雅黑, sans-serif !important;
    font-weight: 300;
}

ul, menu, dir {
    -webkit-padding-start: 0;
    -webkit-margin-after: 0;
}

.blog-footer {
    text-align: center;
}

.login-form {
    width: auto;
    max-width: 500px;
    padding: 1px 23px 20px;
    margin: 50px auto;
}